@using Services.Services.MessageSender
@model Guid
@inject IMessageSender sender
<div class="text-center">
    <h1 class="display-4">Welcome Mr Khayriddin </h1>
    <h2>You will be learning mvc</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1 class="text-center">@Model</h1>
<h1 class="text-center">@sender.GetId()</h1>