@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Mr Khayriddin </h1>
    <h2>You will be learning mvc</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="Test">
    <h1>first</h1>
    <h1>second</h1>

</div>
